<section class="footer">
  <div class="container">
    <h2 class="footer-title">CONTACT US</h2>
    <div class="footer-right">
      <input
        class="footer-item"
        type="text"
        name="user-name"
        id="user-name"
        placeholder="Name"
        required
        pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐйЙʼ]+"
        title="Alex"
      />
      <input
        class="footer-item"
        placeholder="Email"
        type="email"
        name="user-email"
        id="user-email"
        required
      />
      <textarea
        class="footer-comment"
        name="user-comment"
        id="user-comment"
        placeholder="Message"
      ></textarea>
      <span class="wrapper">
        <button class="footer-btn" type="submit">SUBMIT</button>
      </span>
    </div>

    <div class="footer-left">
      <h3 class="footer-left-title">Get in touch with us</h3>
      <p class="footer-left-text">
        Have a question or comment about our app? Get in touch with us using the
        contact form below and our team will respond shortly.
      </p>

      <ul class="footer-sociale">
        <li>
          <a href="https://facebook.com">
            <svg class="footer-sociale-info" width="20" height="20">
              <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://twitter.com">
            <svg class="footer-sociale-info" width="20" height="20">
              <use href="./images/svg/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="footer-sociale-item">
          <a href="https://linkedin.com/">
            <svg class="footer-sociale-info" width="20" height="20">
              <use href="./images/svg/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>

      <ul class="footer-contact">
        <li>
          <a class="footer-sociale-contact" href="tel:+110001111111"
            >+11 (000) 111-11-11</a
          >
        </li>
        <li>
          <a class="footer-sociale-contact" href="mailto:info@devstudio.com">
            info@devstudio.com</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-info">
    <p class="footer-info-text">
      © 2019 GoIteens Template. All Rights Reserved
    </p>
  </div>
</section>
