<header>
  <nav class="header-menu">
    <a class="header-logo" href="/index.html">Mobileapp</a>

    <button class="header-btn" type="button" id="is-open-mobile">
      <svg class="btn-close" width="32" height="32">
        <use href="./img/svg/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>

    <ul class="header-links">
      <li><a class="header-link-item" href="#index.html">HOME</a></li>
      <li><a class="header-link-item" href="#features">FEATURES</a></li>
      <li><a class="header-link-item" href="#team">TEAM</a></li>
      <li><a class="header-link-item" href="#testimonials">TESTIMONIALS</a></li>
      <li><a class="header-link-item" href="#contact">CONTACT</a></li>
    </ul>
  </nav>
</header>
