<section class="hero-section">
  <div class="container">
    <div class="hero">
      <h1 class="hero-title">Introducing Mobileapp</h1>
      <p class="hero-text">Download our mobile app today!</p>

      <ul class="hero-info">
        <li class="hero-info-item">
          <svg class="hero-arrow-img" width="18" height="18">
            <use href="./images/svg/symbol-defs.svg#icon-arrow"></use>
          </svg>
          <p>Real-time updates and notifications for timely information</p>
        </li>
        <li class="hero-info-item">
          <svg class="hero-arrow-img" width="18" height="18">
            <use href="./images/svg/symbol-defs.svg#icon-arrow"></use>
          </svg>
          <p>Robust analytics and reporting for data-driven insights</p>
        </li>
        <li class="hero-info-item">
          <svg class="hero-arrow-img" width="18" height="18">
            <use href="./images/svg/symbol-defs.svg#icon-arrow"></use>
          </svg>
          <p>Offline capabilities for uninterrupted use</p>
        </li>
      </ul>

      <div class="hero-btn-container">
        <span class="wrapper">
          <button class="hero-btn" type="submit">Download</button>
        </span>
      </div>
    </div>
  </div>
</section>
