<div class="backdrop" id="mobile-menu">
  <div class="modal-container">
    <a class="modal-logo" href="/index.html">Mobileapp</a>

    <button class="modal-btn-close" type="button" id="mobile-close-btn">
      <svg class="btn-close" width="32" height="32">
        <use href="./img/svg/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <ul class="modal-links">
    <li><a class="modal-link-item" href="#index.html">HOME</a></li>
    <li><a class="modal-link-item" href="#features">FEATURES</a></li>
    <li><a class="modal-link-item" href="#team">TEAM</a></li>
    <li><a class="modal-link-item" href="#testimonials">TESTIMONIALS</a></li>
    <li><a class="modal-link-item" href="#contact">CONTACT</a></li>
  </ul>
</div>
