<section class="mobile-app">
  <div class="container">
    <h2 class="mobile-app-title">WATCH THE VIDEO</h2>
    <p class="mobile-app-text">
      Watch the video below to see our mobile app in action. With a
      user-friendly interface, personalized recommendations, secure
      transactions, and real-time updates, our app is available for download on
      both Apple and Android devices and is designed to make your life easier.
    </p>
    <div class="mobile-appStore">
      <span class="mobile-app-item">
        <svg class="mobile-app-group" width="30" height="30">
          <use href="./images/svg/symbol-defs.svg#icon-apple"></use>
        </svg>
      </span>

      <span class="mobile-app-item">
        <svg class="mobile-app-group" width="30" height="30">
          <use href="./images/svg/symbol-defs.svg#icon-android"></use>
        </svg>
      </span>
    </div>

    <div class="mobile-app-image">
      <img
        class="mobile-app-img"
        src="./images/mobile/phone_video.png"
        alt="phone"
      />
    </div>
  </div>
</section>
