<section class="team">
  <div class="container">
    <h2 class="team-title">OUR TEAM</h2>
    <p class="team-text">
      Our team is made up of talented and passionate individuals who are
      committed to providing the best experience for our users. Each member
      brings a unique set of skills and expertise to the table, allowing us to
      work collaboratively and effectively to achieve our goals.
    </p>
    <ul class="our-team">
      <li class="team-item">
        <img class="team-item-img" src="./images/mobile/img1.jpg" alt="img 1" />
        <h3 class="team-item-title">David Patel</h3>
        <p class="team-item-text">Managing Direcor</p>
      </li>

      <li class="team-item">
        <img class="team-item-img" src="./images/mobile/img2.jpg" alt="img 2" />
        <h3 class="team-item-title">Rachel Kim</h3>
        <p class="team-item-text">Lead Designer</p>
      </li>

      <li class="team-item">
        <img
          class="team-item-img"
          src="./images/mobile/img3.jpg"
          alt=" img 3"
        />
        <h3 class="team-item-title">Samantha Chen</h3>
        <p class="team-item-text">Lead Developer</p>
      </li>

      <li class="team-item">
        <img class="team-item-img" src="./images/mobile/img4.jpg" alt="img 4" />
        <h3 class="team-item-title">Andrew Nguyen</h3>
        <p class="team-item-text">Sr. UI Designer</p>
      </li>
    </ul>
  </div>
</section>
