<section class="team">
  <div class="container">
    <h2 class="team-title">OUR TEAM</h2>
    <p class="team-text">
      Our team is made up of talented and passionate individuals who are
      committed to providing the best experience for our users. Each member
      brings a unique set of skills and expertise to the table, allowing us to
      work collaboratively and effectively to achieve our goals.
    </p>
    <ul class="our-team">
      <li class="team-item">
        <img
          class="team-item-img"
          srcset="
            ./img/mobile/img1.jpg     288w,
            ./img/mobile/img1@2x.jpg  576w,
            ./img/tablet/img1.jpg     356w,
            ./img/tablet/img1@2x.jpg  712w,
            ./img/desktop/img1.jpg    360w,
            ./img/desktop/img1@2x.jpg 720w
          "
          sizes="(min-width: 1280px) 360px, (min-width: 768px) 356px, (max-width: 767px) 288px "
          src="./img/mobile/img1.jpg"
          alt="img 1"
        />
        <h3 class="team-item-title">David Patel</h3>
        <p class="team-item-text">Managing Direcor</p>
      </li>

      <li class="team-item">
        <img
          class="team-item-img"
          srcset="
            ./img/mobile/img2.jpg     288w,
            ./img/mobile/img2@2x.jpg  576w,
            ./img/tablet/img2.jpg     356w,
            ./img/tablet/img2@2x.jpg  712w,
            ./img/desktop/img2.jpg    360w,
            ./img/desktop/img2@2x.jpg 720w
          "
          sizes="(min-width: 1280px) 360px, (min-width: 768px) 356px, (max-width: 767px) 288px "
          src="./img/mobile/img2.jpg"
          alt="img 2"
        />
        <h3 class="team-item-title">Rachel Kim</h3>
        <p class="team-item-text">Lead Designer</p>
      </li>

      <li class="team-item">
        <img
          class="team-item-img"
          srcset="
            ./img/mobile/img3.jpg     288w,
            ./img/mobile/img3@2x.jpg  576w,
            ./img/tablet/img3.jpg     356w,
            ./img/tablet/img3@2x.jpg  712w,
            ./img/desktop/img3.jpg    360w,
            ./img/desktop/img3@2x.jpg 720w
          "
          sizes="(min-width: 1280px) 360px, (min-width: 768px) 356px, (max-width: 767px) 288px "
          src="./img/mobile/img3.jpg"
          alt=" img 3"
        />
        <h3 class="team-item-title">Samantha Chen</h3>
        <p class="team-item-text">Lead Developer</p>
      </li>

      <li class="team-item">
        <img
          class="team-item-img"
          srcset="
            ./img/mobile/img4.jpg     288w,
            ./img/mobile/img4@2x.jpg  576w,
            ./img/tablet/img4.jpg     356w,
            ./img/tablet/img4@2x.jpg  712w,
            ./img/desktop/img4.jpg    360w,
            ./img/desktop/img4@2x.jpg 720w
          "
          sizes="(min-width: 1280px) 360px, (min-width: 768px) 356px, (max-width: 767px) 288px "
          src="./img/mobile/img4.jpg"
          alt="img 4"
        />
        <h3 class="team-item-title">Andrew Nguyen</h3>
        <p class="team-item-text">Sr. UI Designer</p>
      </li>
    </ul>
  </div>
</section>
