<section class="testimonials">
  <div class="container">
    <h2 class="testimonials-title">WHAT OUR COSTUMER’S SAY</h2>
    <span class="testimonials-image">
      <img
        class="testimonials-img"
        src="./images/mobile/img_comment.jpg"
        alt="foto"
      />
    </span>
    <h3 class="testimonials-user">Jon Doe</h3>
    <p class="testimonials-text">Company Inc.</p>
    <p class="testimonials-comment">
      I've been using this app for a few weeks now and I have to say, I'm really
      impressed. It's so easy to use and the personalized recommendations are
      spot-on. Plus, the transactions are secure and the updates are always
      timely. I would definitely recommend this app to anyone looking for a
      better mobile experience.
    </p>
    <div class="point">...</div>
  </div>
</section>
